In [32]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("syedanwarafridi/vehicle-sales-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/syedanwarafridi/vehicle-sales-data?dataset_version_number=1...

100%|█████████████████████████████████████████████████████████████████████████████| 18.8M/18.8M [00:07<00:00, 2.57MB/s]

Extracting files...

Path to dataset files: C:\Users\Administrator\.cache\kagglehub\datasets\syedanwarafridi\vehicle-sales-data\versions\1

In [33]:
path = r"C:\Users\Administrator\.cache\kagglehub\datasets\syedanwarafridi\vehicle-sales-data\versions\1"

In [34]:
print(os.listdir(path))##used to get list of files from path

['car_prices.csv']

In [37]:
csv=os.path.join(path,'car_prices.csv')#we are joining both the csv file and path

In [38]:
data=pd.read_csv(csv)#reading the data from csv

In [39]:
data.head()# to print first 5 in file

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [40]:
data.info()##to get the details of data inside the csv file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [42]:
data.drop_duplicates()# to remove duplicates
print(data.duplicated())#verifying the duplicates present or not # false= no duplicates

0         False
1         False
2         False
3         False
4         False
          ...
558832    False
558833    False
558834    False
558835    False
558836    False
Length: 558837, dtype: bool

In [45]:
data.columns=data.columns.str.lower()#convert to lower case
print(data.columns)

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [46]:
data.columns=data.columns.str.upper()#convert to upper case
print(data.columns)

Index(['YEAR', 'MAKE', 'MODEL', 'TRIM', 'BODY', 'TRANSMISSION', 'VIN', 'STATE',
       'CONDITION', 'ODOMETER', 'COLOR', 'INTERIOR', 'SELLER', 'MMR',
       'SELLINGPRICE', 'SALEDATE'],
      dtype='object')

In [52]:
data.isnull()#checking for missing values #true=presence  of missing values
print(data.isnull())#we found null value in transmission column

         YEAR   MAKE  MODEL   TRIM   BODY  TRANSMISSION    VIN  STATE  \
0       False  False  False  False  False         False  False  False
1       False  False  False  False  False         False  False  False
2       False  False  False  False  False         False  False  False
3       False  False  False  False  False         False  False  False
4       False  False  False  False  False         False  False  False
...       ...    ...    ...    ...    ...           ...    ...    ...
558832  False  False  False  False  False          True  False  False
558833  False  False  False  False  False         False  False  False
558834  False  False  False  False  False         False  False  False
558835  False  False  False  False  False         False  False  False
558836  False  False  False  False  False         False  False  False

        CONDITION  ODOMETER  COLOR  INTERIOR  SELLER    MMR  SELLINGPRICE  \
0           False     False  False     False   False  False         False
1           False     False  False     False   False  False         False
2           False     False  False     False   False  False         False
3           False     False  False     False   False  False         False
4           False     False  False     False   False  False         False
...           ...       ...    ...       ...     ...    ...           ...
558832      False     False  False     False   False  False         False
558833      False     False  False     False   False  False         False
558834      False     False  False     False   False  False         False
558835      False     False  False     False   False  False         False
558836      False     False  False     False   False  False         False

        SALEDATE
0          False
1          False
2          False
3          False
4          False
...          ...
558832     False
558833     False
558834     False
558835     False
558836     False

[558837 rows x 16 columns]

In [68]:
data["TRANSMISSION"].fillna(1,inplace=True)#filling null with a value

In [69]:
print(data["TRANSMISSION"])#Finally replaced the null value with 1

0         automatic
1         automatic
2         automatic
3         automatic
4         automatic
            ...
558832            1
558833    automatic
558834    automatic
558835    automatic
558836    automatic
Name: TRANSMISSION, Length: 558837, dtype: object

In [78]:
data['MAKE']=data['MAKE'].str.upper()#converting data to equal format
data['MODEL']=data['MODEL'].str.title()
data['TRANSMISSION']=data['TRANSMISSION'].str.title()
data.head()

,YEAR,MAKE,MODEL,TRIM,BODY,TRANSMISSION,VIN,STATE,CONDITION,ODOMETER,COLOR,INTERIOR,SELLER,MMR,SELLINGPRICE,SALEDATE
0,2015,KIA,Sorento,LX,SUV,Automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,KIA,Sorento,LX,SUV,Automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,Automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,VOLVO,S60,T5,Sedan,Automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,Automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)